body {
    background-color: #223045;
    color: rgba(255, 255, 255, 0.733);
}

.main_div {
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid red 1.5px; */
}

.counter_container {
    width: 80%;
    height: 140px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 12px;
    background-color: #000;
}

.digit {
    width: 11%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: solid green 1px;
    border-radius: 12px;
    margin-right: 10px;
    background-color: #32517e;
    font-size: 8vw;
}

.clock {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-right: 25px;
    font-size: 7vw;
}